@use 'base/variables' as v;
@use 'base/mixins' as m;

.senara-actions {
  margin-top: 2rem;

  @include m.tablet {
    display: flex;
    justify-content: flex-end;
  }

  a {
    margin: 0 20px;

    display: block;
    text-align: center;
    margin-bottom: 2rem;

    color: v.$azulOscuro;
    &:last-of-type {
      margin-bottom: 0;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
.a-alert-email {
  position: absolute;
  text-align: end;
  color: rgb(169, 0, 0);
  margin-top: -2rem;
  margin-bottom: -2rem;
  margin-left: 15rem;
  margin-right: 15rem;
  font-size: small;
}
.a-alert-password {
  position: absolute;
  text-align: end;
  color: rgb(169, 0, 0);
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 15rem;
  margin-right: 15rem;
  font-size: small;
}
