@use 'base/variables' as v;
@use 'base/mixins' as m;

.senara-actions {
  margin-top: 2rem;

  @include m.tablet {
    display: flex;
    justify-content: flex-end;
  }

  a {
    margin: 0 30px;
    font-size: 20px;
    display: block;
    text-align: center;
    margin-bottom: 2rem;

    color: v.$azulOscuro;
    &:last-of-type {
      margin-bottom: 0;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.a-alert {
  position: absolute;
  text-align: end;
  color: rgb(169, 0, 0);
  top: -1.8rem;
  right: 0;
  font-size: small;
}
