@use 'base/variables'as v;
@use 'base/mixins'as m;


.senara-content-menu {
    background-color: v.$blanco;
    border-radius: v.$radiusContenedor;
    display: grid;;
    margin: 4rem 2rem 0rem 2rem;
    min-height: inherit;
    overflow-x: auto;
    box-shadow: v.$boxShadow;
    grid-template-rows: 40px 1fr;
    
    @include m.tablet{
        height: calc(100vh - 180px);
        margin: 4rem 0 4rem 2rem;
    }
    
    // @include m.tablet {
    //     width: calc(100% - 80%);
    // }
    
    @include m.desktop{
        width: calc(100% - 2rem);
    }

    p {
        color: v.$negro;
    }
    
    h2 {
        color: v.$blanco;
        margin: 0;
        text-align: center;
    }

    &::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .title-container {
        background-color: lighten(v.$gris, 35%);
        display: grid;
        place-content: center;
    }

    .forms-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // margin-block-start: 1rem;
        // place-content: center;
        
        @include m.tablet{
            grid-template-columns: none;
            grid-template-rows: repeat(3, 1fr);
        }

        .form-item {
            align-self: center;
            // margin-block: 1rem;
            display: grid;
            background-color: lighten(v.$gris, 35%);
            border-radius: v.$radiusContenedor;
            height: 120px;
            padding-inline: 1rem;
            width: 80%;
            margin-inline: auto;

            &:last-child{
                > p{
                    &::after{
                        margin-block: auto;
                        text-align: center;
                        content: "Plan de Riego";
                        
                        @include m.desktop{
                            content: "Inscripción en Plan de Riego DRAT";
                        }
                    }
                }
            }

        }

        p{
            font-size: 1.5rem;
            text-align: center;
        }

        .svg-block{
            align-content: end;
            display: grid;
            justify-content: center;
            padding-block-start: 2rem;
        }

    }

    .senara-menu {
        margin-top: 2rem;

        .header-ul {
            padding: 1rem;
            font-size: 1.5rem;
            margin-bottom: 20px;
            background-color: darken(v.$azulClaro, 25%);
            color: v.$gris;
        }

        >ul {
            text-align: center;
            padding: 0;
            margin: 0;

            >li {
                list-style: none;

                >a {
                    color: v.$grisClaro;

                    &:hover,
                    &.active {
                        color: v.$blanco;
                        background-color: darken(v.$azulOscuro, 20%);
                        border-left: .5rem solid v.$verdeClaro;
                        padding: 1.5rem 2.5rem;
                        //border-radius: .5rem;
                    }

                }

                >ul {
                    display: none;
                    text-align: center;
                    background-color: darken(v.$azulClaro, 20%);

                    >li {
                        list-style: none;

                        >a {
                            //color: lighten(v.$gris, 25%);
                            color: v.$blanco;

                            &:hover,
                            &.active {
                                color: lighten(v.$verdeClaro, 20%);
                                //background-color: darken(v.$azulOscuro, 20%);
                                padding: 1.5rem 3rem;
                                //border-left: 1px solid v.$verdeClaro;
                                //border-radius: .5rem;
                            }
                        }
                    }
                }
            }
        }
    }

    a {
        display: block;
        padding: 1.5rem 3rem;
        transition-property: background-color;
        transition-duration: 300ms;
        //text-transform: uppercase;
        //font-weight: bold;
        font-size: 2.4rem;
        margin-bottom: 0 !important;
        text-align: center;

        >span {
            padding-left: 0.7rem;
        }

        >i:last-child {
            float: right;
        }

        @include m.tablet {
            font-size: 1.4rem;
            margin-bottom: 1rem;
            text-align: left;
        }
    }

}